
*.sh

CMakeLists.txt

cocos2d/

proj.linux/

proj.win32/

proj.wp8-xaml/

proj.ios_mac/

proj.android/

.cocos-project.json

proj.ios_mac/MyCppGame.xcodeproj/project.pbxproj

proj.ios_mac/MyCppGame.xcodeproj/project.pbxproj

proj.ios_mac/MyCppGame.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
